* {
  font-family: 'Lato', sans-serif;
}

.min100vh {
  min-height: 100vh;
}

.vh75 {
  min-height: 75vh;
}

.vh70 {
  min-height: 70vh;
}

a {
  color: rgb(31, 30, 30);
}

hr {
  border-bottom: 3px solid #66e0d2;
  margin-bottom: .5rem;
  margin-top: .5rem;
  width: 40%;  
}

.h4 {
  font-family: 'Nixie One', cursive;
}

/* Header */

.navbar-brand {
  font-size: 2.5rem;
}

ul {
  width: 100%;
}

li {
  display: inline-block;
  width: 20%;
}

/* Home */

.home-image {
  background-image: url('../assets/images/home.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.phrase-home {
  color: #ffffff;
  font-size: 3.5rem;
}

/*My story */

.content-story {
  line-height: 2;
}

/* Portfolio */

.wh-text {
  color: #ffffff;
}

.proyect1 {
  background-image: url('../assets/images/pattern1.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.proyect2 {
  background-image: url('../assets/images/pattern2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.proyect3 {
  background-image: url('../assets/images/pattern3.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Contact */



/* Social Network */

