* {
  font-family: 'Montserrat', sans-serif;
}

.min100vh {
  min-height: 100vh;
}

.min90vh {
  min-height: 90vh;
}

/* Header */

.bg-semi-clear {
  background-color: #ffffff;
}

.navbar-brand {
  letter-spacing: 2px;
  font-size: 2rem;
}

.navbar-nav li a {
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

li {
  width: 30%;
}

/* Hero image */

.home-image {
  background-image: url('../assets/images/home.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-hero {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
}

/*My story */

.content-story {
  line-height: 1.6;
}

/* Portfolio */

.text-project {
  color: #54c3bd;
  font-family: 'Playfair Display', serif;
  font-weight: 300 !important;
}

/* Contact */

.text-contact {
  color: #54c3bd;
  font-family: 'Playfair Display', serif;
  font-weight: 300 !important;
}

.contact-img {
  height: 250px;
  width: 350px;
}

a.email {
  color: #54c3bd;
  font-size: 1.5rem;
  font-weight: 500;
}

a.email:hover {
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  background-color: #54c3bd;
  padding: .8rem;
  text-decoration: none;
}

/* Social Network */

.linkedin,
.github,
.curriculum {
  height: 100px;
  width: 100px;
}

/* Footer */

footer {
  background-color: #54c3bd;
  color: #ffffff;
}

@media (max-width: 575.98px) {
  .navbar-brand {
    letter-spacing: 2px;
    font-size: 1.5rem;
  }

  .navbar-nav li a {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .text-hero {
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
  }

  .story-img,
  .contact-img {
    height: 200px;
    width: 200px;
  }

  .mobile-none {
    display: none;
  }

  a.email {
    color: #54c3bd;
    font-size: 1rem;
    font-weight: 500;
  }
  
  a.email:hover {
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    background-color: #54c3bd;
    padding: .5rem;
    text-decoration: none;
  }

  .linkedin,
  .github,
  .curriculum {
    height: 50px;
    width: 50px;
  }   
}
