* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #888B8D;
}

.min10vh {
  min-height: 10vh;
}

.min90vh {
  min-height: 90vh;
}

.min100vh {
  min-height: 100vh;
}

a {
  color: #7a7a7a;  
}

a:hover {
  color: #d6d6d6;
}

/* Header */

.bg-semi-clear {
  background-color: #ffffff;
}

.navbar-brand {
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.navbar-toggler-icon img {
  color: #7a7a7a;
}

.navbar-nav li a {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

/* Hero image */

.home-image {
  background-image: url('../assets/images/hero.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-hero {
  color: #ffffff;
  font-size: 4rem;
}

.hero-title {
  color: #ffffff;
}

.subtitle-hero {
  color: #ffffff;
}

hr {
  border: 1px solid #fff;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Portfolio */

.text-project {
  color: #3CDBC0;
}

.ih-item.square {
  border: none;
  box-shadow: none;
  height: auto;
  width: auto;
}

.ih-item.square.effect6.colored .info h3 {
  background: transparent;
}

.ih-item.square.effect6 .info h3 {
  background: none;
  font-size: 1.5rem;
  margin: 65px 0 0;
}

.ih-item.square.effect6.colored .info {
  background: rgba(93,198,193,1);
  background: -moz-linear-gradient(-45deg, rgba(93,198,193,1) 0%, rgba(93,198,193,0.94) 40%, rgba(119,142,211,0.89) 76%, rgba(137,104,223,0.89) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(93,198,193,1)), color-stop(40%, rgba(93,198,193,0.94)), color-stop(76%, rgba(119,142,211,0.89)), color-stop(100%, rgba(137,104,223,0.89)));
  background: -webkit-linear-gradient(-45deg, rgba(93,198,193,1) 0%, rgba(93,198,193,0.94) 40%, rgba(119,142,211,0.89) 76%, rgba(137,104,223,0.89) 100%);
  background: -o-linear-gradient(-45deg, rgba(93,198,193,1) 0%, rgba(93,198,193,0.94) 40%, rgba(119,142,211,0.89) 76%, rgba(137,104,223,0.89) 100%);
  background: -ms-linear-gradient(-45deg, rgba(93,198,193,1) 0%, rgba(93,198,193,0.94) 40%, rgba(119,142,211,0.89) 76%, rgba(137,104,223,0.89) 100%);
  background: linear-gradient(135deg, rgba(93,198,193,1) 0%, rgba(93,198,193,0.94) 40%, rgba(119,142,211,0.89) 76%, rgba(137,104,223,0.89) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5dc6c1', endColorstr='#8968df', GradientType=1 );
}

.ih-item.square.effect6 .info p {
  color: #ffffff;
  font-style: normal;
  font-size: 1rem;
}

.non-action {
  cursor: default;
}

.btn-info {
  background-color: #3CDBC0;
  border: none;
}

/* Contact */

.text-contact {
  color: #54c3bd;
  font-weight: 300 !important;
}

a.email {
  color: #3CDBC0;
  font-size: 1.2rem;
  font-weight: 500;
}

a.email:hover {
  border-radius: 10px;
  cursor: pointer;
  padding: .8rem;
}

/* Social Network */

.linkedin,
.github,
.curriculum {
  height: 120px;
  width: 120px;
}

/* Footer */

footer {
  background-color: #000;
}

footer span {
  font-size: 13px;
}

.white-txt {
  color: #ffffff;
}

@media (max-width: 575.98px) {
  .navbar-brand {
    letter-spacing: 2px;
    font-size: 1.5rem;
  }

  .navbar-nav li a {
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .text-hero {
    color: #ffffff;
    font-size: 3rem;
  }
  
  .ux-title {
    color: #ffffff;  
    font-size: 2rem;
  }

  a.email {
    color: #54c3bd;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  a.email:hover {
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    background-color: #3CDBC0;
    padding: .5rem;
    text-decoration: none;
  }

  .linkedin,
  .github,
  .curriculum {
    height: 70px;
    width: 70px;
  }   
}

